<head>
	<title>{{ site.title }} - {{ page.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="{{ site.subtitle[page.lang] }} - {{ page.description }}" />

	<link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/images/favicons/apple-icon-57x57.png' | absolute_url }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/images/favicons/apple-icon-60x60.png' | absolute_url }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/images/favicons/apple-icon-72x72.png' | absolute_url }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/images/favicons/apple-icon-76x76.png' | absolute_url }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/images/favicons/apple-icon-114x114.png' | absolute_url }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/images/favicons/apple-icon-120x120.png' | absolute_url }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/images/favicons/apple-icon-144x144.png' | absolute_url }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/images/favicons/apple-icon-152x152.png' | absolute_url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicons/apple-icon-180x180.png' | absolute_url }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ 'assets/images/favicons/android-icon-192x192.png' | absolute_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicons/favicon-32x32.png' | absolute_url }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/images/favicons/favicon-96x96.png' | absolute_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicons/favicon-16x16.png' | absolute_url }}">

	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="cannonical" href="{{page.url | absolute_url}}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129613244-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-129613244-1');
	</script>
</head>